< [Website function_-ID.ME(verification purposes//GOV;FED;;
PURPOSE,,,...
< [GOVERNMENT UILTIZATION FOR IDENTITY PURPOSES.//]
< [NOTIFY IF CYBERCRIME ATTEMPT IS INITIATED]...//(NOTIFIYO CYBERCRIMES HEAD CONTROL IT PERSONNAL ---DIRECT TO PENTAGON)...
< [LOCK DOWN WEB PAGES && INITIATE FULL WIPE/DUMP OF SOFTWEAR/HARDWEAR..]

</configuration DONE FOR TEMP SERVICE ONLY...!]
